#header-container {
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #3e5368;
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
}

h1 {
  font-family: 'cursive', 'labrit';
  letter-spacing: 2px;
  font-size: 50px;
  margin: 0;
  color: #f5f5f5;
  -webkit-text-stroke: .25px black; /* width and color */
}

hr {
  width: 70%;
  color: rgb(198, 202, 202, 0.5);
}

span {
  font-family: Georgia, Helvetica;
  font-size: 20px;
  color: #f5f5f5;
}

@media (min-width: 400px) {
  #home-page-container {
    width: 75%;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 72px;
  }

  span {
    font-size: 26px;
  }

  hr {
    width: 35%;
  }
}

@media (min-width: 1440px) {
  h1 {
    font-size: 84px;
  }

  span {
    font-size: 34px;
  }
}
