<div @fade class="content-container">
  <h2 class="remove-bottom-margin">Registry</h2>
    <div id="registry-links">
      <div>
        <input class="charcoal" type="button" onclick="window.location.href='https://www.amazon.com/wedding/brandon-campbell-laura-warsewicz--january-2022/registry/1Z1AI8KY3GRPB';" target="_blank" value="Amazon"/>
      </div>
      <div>
        <input class="charcoal" type="button" onclick="window.location.href='https://www.target.com/gift-registry/gift/housecampbell2022';" target="_blank" value="Target"/>
      </div>
      <div>
        <input class="charcoal" type="button" onclick="window.location.href='https://www.etsy.com/registry/NTQ5MTk0MTB8NTE5OTIzNzUx/';" target="_blank" value="Etsy"/>
      </div>
    </div>
</div>
