<div class="parchment-scroll-container">
  <div class="parchment-content">
    <div class="spacer-medium"></div>
    <h2>Registry</h2>
    <div id="registry-links">
      <div>
        <input class="rosewood" type="button" onclick="window.location.href='https://www.amazon.com';" value="Amazon"/>
      </div>
      <div>
        <input class="rosewood" type="button" onclick="window.location.href='https://www.target.com';" value="Target"/>
      </div>
      <div>
        <input class="rosewood" type="button" onclick="window.location.href='https://www.etsy.com/';" value="Etsy"/>
      </div>
      <div>
        <input class="rosewood" type="button" onclick="window.location.href='https://www.google.com';" value="Monetary Gift"/>
      </div>
    </div>
  </div>
</div>
