<h2 class="remove-bottom-margin">Registry</h2>
  <div id="registry-links">
    <div>
      <input class="charcoal" type="button" onclick="window.location.href='https://www.amazon.com';" value="Amazon"/>
    </div>
    <div>
      <input class="charcoal" type="button" onclick="window.location.href='https://www.target.com';" value="Target"/>
    </div>
    <div>
      <input class="charcoal" type="button" onclick="window.location.href='https://www.etsy.com/';" value="Etsy"/>
    </div>
    <div>
      <input class="charcoal" type="button" onclick="window.location.href='https://www.google.com';" value="Monetary Gift"/>
    </div>
  </div>

