input {
  text-align: center;
  margin: 10px;
  padding: 20px;
  width: 250px;
  box-shadow: 5px 5px 5px #5D030F;
  font-size: 20px;
  color: white;
  border-color: #C6CACA;
  cursor: pointer;
  height: 70px;
}

#registry-links {
  text-align: center;
}
