#content-left {
  display: inline-block;
  text-align: left;;
}

#checkbox-label {
  display: inline-block !important;
}

#plus-one-form-section {
  display: none;
}

#plus-one-name-input {
  width: 300px;
}

.option-selected {
  background-color: #5D030F;
  color: #f5f5f5;
}

.attending-checked {
  background-color: rgba(0, 255, 0, 0.2);
}

.not-attending.checked {
  background-color: rgba(255, 0, 0, 0.2);
}

.form-option {
  padding: 10px;
}

.horizontal-select-container {
  text-align: center;
  padding: 15px;
}

.horizontal-select {
  display: inline-block;
  border: 1px solid #3e5368;
  width: 150px;
  padding: 5px;
  cursor: pointer;
}

.visible {
  display: block !important;
}

.error-message {
  display: block;
}

form {
  text-align: center;
  font-size: 20px;
}

select {
  padding: 5px;
}

label {
  display: block;
}

input {
  padding: 10px;
  margin-bottom: 10px
}
