<div @fade class="content-container">
  <h2>Covid Info</h2>
  <div class="paragraph-container">
    <p>Due to the rise in COVID cases, we will be taking extra precautionary measures to ensure the health and safety of you, our guests.</p>
    <p>Disposable masks will be available at the entrances for anyone who is more comfortable wearing one. We will also have hand sanitizer available at common areas such as the photo props table, guest book table, and bars.</p>
    <p>Additionally, the ballroom has plenty of space to spread out as needed. Guests will also have access to the cocktail hour room throughout the night, providing additional space to spread out, should you be more comfortable doing so.</p>
    <p>As a reminder to guests, we request that you please get a COVID test within 24 hours prior to the wedding if you are not vaccinated.</p>
    <p>We thank you all for your cooperation in keeping each other safe and healthy while we celebrate our wedding!</p>
  </div>
</div>
