<div @fade class="content-container">
  <h2>Our Story</h2>
  <div class="paragraph-container">
    <p>Chances are, if you’re visiting this page, you already know a lot about our story. You may have been family or old friends who watched us grow as a couple from the very beginning, you might have met us later on when we were already attached to one another, or maybe you’re a new friend who doesn’t know much about us other than the fact that we’ve been together for a <b>really long time</b>. No matter where you fit into our story, we hope you enjoy it!</p>

    <p>In early January 2012, we met when we were just 17 and 18 years old. What was a spur of the moment trip to the mall, then Friendly’s, then bowling with a mutual friend, turned into the night that - not to be cliche - changed our lives forever. After that night, we spent every waking moment talking to each other. Most nights, we would talk about anything and everything until early morning.
      
      When we saw each other again the following weekend, it felt like we knew each other for years. We spent the night on South Street with some friends, then decided to stop at Dunkin Donuts for some hot chocolate and to hang out with each other one-on-one for the first time. After hours talking, laughing, and being absolutely smitten with one another, Brandon asked Laura, “What do you consider us?” In that moment, we became two halves of a whole.</p>
      
    <p>Over the course of nearly a decade, we grew up together. Brandon graduated high school, he taught Laura how to drive, we started college together, moved into the first place we would call home, adopted our first fur babies, and loosely mapped out the rest of our lives together. No matter what, we were always by each other’s side.</p>
      
    <p>In 2019, we got engaged after Brandon hijacked the surprise birthday/graduation party Laura planned for him at the Blue Cross River Rink. We were surrounded by family and some of our closest friends during one of the happiest moments we’ll ever experience.</p>
      
    <p>We can’t wait to tie the knot and celebrate our marriage (and 10 year anniversary) with you all!</p>
  </div>
</div>
