<div class="banner-container">
  <div class="banner-content">
    <div class="spacer-medium"></div>
    <h2>Wishing Well</h2>
    <div class="paragraph-container">
      <p>Write a message in our wishing well.</p>
      <p>All guest book submissions will be viewable after the wedding.</p>
    </div>
    <textarea name="message">Enter your message here.</textarea>
    <div id="edit-submission-container">
      <!-- <h3>Edit Submission</h3> -->
    </div>
    <div>
      <input class="submit-button" type="submit" value="Submit">
    </div>
  </div>
</div>
