/* @media (max-width: 375px) {
  .inner-content {
    width: 100%;
  }

  li {
    margin-left: 10px !important;
    margin-right: 10px !important;
  }
} */

@media (min-width: 550px) {
  .banner-container {
    min-height: 990px;
    margin-top: -40px;
  }
}
