 @font-face {
  font-family: gameOfThrones;
  src: url('/assets/fonts/got_font.ttf');
}

@font-face {
  font-family: labrit;
  src: url('/assets/fonts/labrit.ttf');
}

@font-face {
  font-family: cursive;
  src: url('/assets/fonts/cursive.ttf');
}

body {
  background-color: #f5f5f5;
  background-image: url('/assets/images/scales.png');
  background-repeat: repeat;
  margin: 0;
}

.rosewood {
  background-color: #5D030F;
}

.silver-sand {
  background-color: #C6CACA;
}

.charcoal {
  background-color: #3e5368;
}

.cultured {
  background-color: #f5f5f5
}

.banner-image-container {
  background-image: url("/assets/images/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 750px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.banner-content {
  padding-top: 15%;
}

router-outlet {
  display: none;
}

h2 {
  font-family: 'gameOfThrones', Georgia, Helvetica;
  letter-spacing: 1px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
  color: #f5f5f5;
  margin: 20px auto 0 auto;
}

p {
  color: #f5f5f5;
}

.paragraph-container {
  margin: 10% auto;
  padding: 0px 35px 0px 35px;
  font-size: 18px;
  text-align: center;
  max-width: 70%;
}

#header-image {
  text-align: center;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.page-image {
  width: 90%;
}

.submit-button {
  background-color: #3e5368;
  padding: 15px !important;
  font-size: 15px;
  font-family: Georgia, Helvetica;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  border-color: #5D030F;
  border-radius: 5px;
  height: 50px !important;
  width: 85px;
}

@media (min-width: 500px) {
  .banner-image-container {
    min-height: 1000px;
  }

  p {
    font-size: 22px;
  }
}

@media (min-width: 600px) {
  h2 {
    font-size: 50px;
  }

  #expand-button {
    display: none;
  }

  .banner-image-container {
    min-height: 1150px;
  }

  .paragraph-container {
    max-width: 60%;
  }
}

@media (min-width: 768px) {

  .banner-image-container {
    min-height: 1500px;
  }

  .paragraph-container {
    max-height: 450px;
  }

  p {
    font-size: 28px;
  }
}

@media (min-width: 1000px) {
  .banner-image-container {
    min-height: 2000px;
  }
}

@media (min-width: 1440px) {
  .banner-image-container {
    min-height: 1900px;
  }
}

@media (min-width: 1575px) {
  .banner-content {
    padding-top: 10%
  }
}
