 @font-face {
  font-family: gameOfThrones;
  src: url('/assets/fonts/got_font.ttf');
}

@font-face {
  font-family: labrit;
  src: url('/assets/fonts/labrit.ttf');
}

@font-face {
  font-family: cursive;
  src: url('/assets/fonts/cursive.ttf');
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f5f5f5;
  background-image: url('/assets/images/scales.png');
  background-repeat: repeat;
  margin: 0;
}

.rosewood {
  background-color: #5D030F;
}

.silver-sand {
  background-color: #C6CACA;
}

.charcoal {
  background-color: #3e5368;
}

.cultured {
  background-color: #f5f5f5
}

.banner-image-container {
  background-image: url("/assets/images/banner.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  min-height: 700px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.banner-content {
  padding-top: 20%;
}

.content-container {
  height: 100%;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

router-outlet {
  display: none;
}

h2 {
  font-family: 'gameOfThrones', Georgia, Helvetica;
  letter-spacing: 1px;
  font-size: 30px;
  text-align: center;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  color: #f5f5f5;
  margin: 0 auto;
}

p {
  color: #f5f5f5;
}

.paragraph-container {
  margin: 10% auto;
  padding: 5px;
  font-size: 18px;
  text-align: center;
}

#header-image {
  text-align: center;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.page-image {
  width: 90%;
}

.submit-button {
  background-color: #3e5368;
  padding: 15px !important;
  font-size: 15px;
  font-family: Georgia, Helvetica;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  border-color: #5D030F;
  border-radius: 5px;
  height: 50px !important;
  width: 85px;
}

@media (min-width: 450px) {
  .content-container {
    width: 75%;
  }
}

@media (min-width: 525px) {
  h2 {
    font-size: 46px;
  }

  .banner-image-container {
    min-height: 1000px;
  }

  .paragraph-container {
    font-size: 26px;
  }
}

@media (min-width: 600px) {
  #expand-button {
    display: none;
  }
}

@media (min-width: 768px) {
  .banner-image-container {
    min-height: 1365px;
  }

  h2 {
    font-size: 64px;
  }

  .paragraph-container {
    margin: 15% auto;
    font-size: 28px;
  }
}

@media (min-width: 1000px) {
  .banner-image-container {
    min-height: 1600px;
  }
}

@media (min-width: 1100px) {
  .content-container {
    width: 54%;
  }
}

@media (min-width: 1440px) {
  h2 {
    font-size: 90px;
  }

  .banner-image-container {
    min-height: 1800px;
  }

  .content-container {
    width: 59%;
  }

  .paragraph-container {
    font-size: 38px;
  }
}
