 @font-face {
  font-family: gameOfThrones;
  src: url('/assets/fonts/got_font.ttf');
}
/*
@media (min-width: 2400px) {
  .inner-content, .paragraph-container {
    width: 30% !important;
  }

  .banner-container {
    background-size: 1000px auto !important;
    min-height: 1000px !important;
  }
}

.submit-button {
  background-color: #5D030F;
  padding: 15px;
  font-size: 15px;
  font-family: Georgia, Helvetica;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  border-color: #3e5368;
  border-radius: 5px;
}

.rosewood {
  background-color: #5D030F;
}

.silver-sand {
  background-color: #C6CACA;
}

.charcoal {
  background-color: #3e5368;
}

.cultured {
  background-color: #f5f5f5
}

.inner-content {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  background-color: #c6caca;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}

.top-fill {
  margin-top: -20px;
}

.paragraph-container {
  width: 51%;
  margin: 0 auto;
}

.spacer-small {
  height: 25px;
}

.spacer-medium {
  height: 75px;
}

.banner-container {
  background-image: url("/assets/images/banner.png");
  background-size: 850px auto;
  background-repeat: no-repeat;
  background-position: center top;
  margin-top: -15px;
  min-height: 1150px;
}

body {
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

h2, p {
  text-align: center;
}

p {
  font-family: Georgia, Helvetica;
  font-size: 28px;
  letter-spacing: 1px;
}

h2 {
  font-family: 'gameOfThrones', Georgia, Helvetica;
  letter-spacing: 1px;
  padding: 20px;
  font-size: 45px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

a:visited {
  text-decoration: none;
}

router-outlet {
  margin-top: -20px;
} */

body {
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.rosewood {
  background-color: #5D030F;
}

.silver-sand {
  background-color: #C6CACA;
}

.charcoal {
  background-color: #3e5368;
}

.cultured {
  background-color: #f5f5f5
}

.banner-container {
  background-image: url("/assets/images/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -35px;
  min-height: 750px;
}

.banner-content {
  padding-top: 65px;
}

router-outlet {
  display: none;
}

h2 {
  font-family: 'gameOfThrones', Georgia, Helvetica;
  letter-spacing: 1px;
  padding: 20px;
  font-size: 35px;
  text-align: center;
  margin-bottom: 0;
}

.paragraph-container {
  margin: 0 auto;
  padding: 0px 35px 0px 35px;
  font-size: 21px;
  text-align: center;
}

#header-image {
  text-align: center;
}

.page-image {
  width: 350px;
}
