@font-face {
  font-family: labrit;
  src: url('/assets/fonts/labrit.ttf');
}

#countdown-parent-container {
  width: 675px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: 0 auto 0 auto;
}

.timer-information-container {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}

.countdown-text {
  font-family: 'labrit';
  font-size: 55px;
}


