<div @fade class="content-container">
  <h2>Marriage is Coming</h2>
    <div class="paragraph-container">
      <p>We are so excited to have everyone come together to celebrate our marriage. All information regarding our wedding can be found here on our wedsite.</p>
    </div>
    <div id="countdown-parent-container">
      <div class="timer-information-container">
        <div class="countdown-text">{{days}}</div>
        <div class="countdown-text">Days</div>
      </div>
      <div class="timer-information-container">
        <div class="countdown-text">{{hours}}</div>
        <div class="countdown-text">Hours</div>
      </div>
      <div class="timer-information-container">
        <div class="countdown-text">{{minutes}}</div>
        <span class="countdown-text">Minutes</span>
      </div>
      <div class="timer-information-container">
        <div class="countdown-text">{{seconds}}</div>
        <span class="countdown-text">Seconds</span>
      </div>
    </div>
</div>

