<div class="banner-container">
  <div class="banner-content">
    <h2>Marriage is Coming</h2>
    <div class="paragraph-container">
      <p>We are so excited to have everyone come together to celebrate our marriage. All information regarding our wedding can be found here on our wedsite.</p>
    </div>
    <div class="spacer-medium"></div>
    <div id="countdown-parent-container">
      <div class="timer-information-container">
        <span id="countdown-days" class="time-remaining"></span>
        <span class="countdown-text"> {{days}} Days</span>
      </div>
      <div class="timer-information-container">
        <span id="countdown-hours" class="time-remaining"></span>
        <span class="countdown-text"> {{hours}} Hours</span>
      </div>
      <div class="timer-information-container">
        <span id="countdown-minutes" class="time-remaining"></span>
        <span class="countdown-text"> {{minutes}} Minutes</span>
      </div>
      <div class="timer-information-container">
        <span id="countdown-seconds" class="time-remaining"></span>
        <span class="countdown-text"> {{seconds}} Seconds</span>
      </div>
    </div>
  </div>
</div>
